@{
    ViewData["Title"] = "Wellcome!";
}

<div class="text-center heading-margin">
    <h1>Welcome to Annual Leave System!</h1>
</div>
<div class="text-center col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Employees</th>
                <th scope="col">Approved Leaves</th>
                <th scope="col">Pending approvals</th>
                <th scope="col">Total days</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>Moto</td>
            </tr>
        </tbody>
    </table>
</div>
